.avatar1{
    width: 50px;
    height: 50px;
    background-color: #2262c6;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    p{
        font-size: 40px;
    }
}